.paymentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.successImage{
    width: 130px;
    height: 130px;
    object-fit: cover;
    align-content: center;
}
.successImage>img{
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}
.paymentSuccessfulText{
    padding-top: 30px;
    font-size: 25px;
    font-weight: 500;
}
.retryButton{
    padding: 7px 50px;
    font-weight: 500;
    color: white;
    background-color: #494DAC;
    margin-top: 30px;
    border-radius: 2px;
    cursor: pointer;
    text-transform: uppercase;
}
@media (max-width: 768px) {
    .paymentSuccessfulText{
        font-weight: 500;
    }
}