.orderPlaced{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
    /* background-color: green; */

}
.orderPlacedSuccessfullyText{
font-weight: 500;
font-size: 25px;
color: rgb(29, 35, 214);
margin-top: 50px;
text-align: center;
}
.goToHomepage{
    padding: 10px 50px;
    background-color: #494cb5e7;
    margin-top: 40px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    border-radius: 2px;
}
.goToHomepage:hover {
    filter: brightness(1.15);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
  }
  .paymentInProgress{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    
  }
  .paymentInProgress>img{
    width: 70%;
    height: 70%;
    mix-blend-mode: multiply;
  }